body {
  background-color: #ffdd90;
  background-image: url("https://www.fireemblemwod.com/gallery/albums/heroes/UI_Bg_ArenaDuels_result.png");
  text-align: center;
}
#klk{
    background-image: url("https://i.redd.it/9ijti0by3dx11.jpg");
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    padding: 70px;
    width: 600px;

}
#cambiar{
list-style:none;
}
#kam{
list-style:none;
}
@media screen and (max-width: 1024px){
    .articles{
        max-width: 95%;
    }
}
@media screen and (max-width: 767px){
    .articles{
        font-size: 12px; }
}