body {
  background-color: #ffdd90;
  background-image: url("https://www.fireemblemwod.com/gallery/albums/heroes/UI_Bg_VotingGauntlet_result.png");
  text-align: center;
}
#cuadro{
    border: solid black;
    background-image: url("https://i.redd.it/9ijti0by3dx11.jpg");
    background-size: cover;
}
.Juegos{
    display: grid;
    text-align: center;
}
.Juegos-container{
    padding: 0 50px 40px ;
    tex-align: center;
}
.Juegos-container h3{
    border-bottom: 2px;
    padding-bottom: 20px;
    text-align: center;
}
.Juegos-Button{
    padding: 10px 15px;
    border:  1px solid;
    font-size: 15px;
}
.articles{
    display: inline-block;
    padding-left: 20px;
    max-width: 500px;
    margin-bottom: 50px;
}
.articles p{
    margin-bottom: 35px;
    text-align: justify;
}
.articles img{
    width: 100%;
}

.Gacha img{
    width:100%;
}
@media screen and (max-width: 1024px){
    .articles{
        max-width: 95%;
    }
}
@media screen and (max-width: 767px){
    .articles{
        font-size: 12px; }
}