body {
  background-image: url("https://www.fireemblemwod.com/gallery/albums/heroes/UI_Bg_VotingGauntlet_result.png");
  margin-right: auto;
  margin-left: auto;
  padding: 70px;
  width: 1200px;
}

#cuadro{
    border: solid black;
    background-image: url("https://i.redd.it/9ijti0by3dx11.jpg");
    background-size: cover;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

}
#cambiar{
list-style:none;
link-color: white;
}
#cambiar{
list-style:none;
}
#cambiar{
list-style:none;
}
.Juegos{
    display: grid;
    text-align: center;
}
.Juegos-container{
    padding: 0 50px 40px ;
    text-align: center;

}
.Juegos-container h3{
    border-bottom: 2px;
    padding-bottom: 20px;
    text-align: center;
}
.Juegos-Button{
    padding: 10px 15px;
    border:  1px solid;
    font-size: 15px;
}
.articles{
    display: column;
    padding-left: 20px;
    max-width: 500px;
    margin-bottom: 50px;
    text-align: center;

}
.articles p{
    margin-left:auto;
    margin-right:auto;

}
.articles img{
    width: 100%;
    padding-left:300px

}
.articles iframe{
    width: 100%;
    padding-left:300px
}

.Gacha img{
    width:100%;
}
@media screen and (max-width: 1024px){
    .articles{
        max-width: 95%;
    }
}
@media screen and (max-width: 767px){
    .articles{
        font-size: 12px; }
}